<div class="sticky-container">
  <ul class="sticky">
    <li>
      <img width="32" height="32" title="" alt="" src="images/facebook.png" />
      <p>Facebook</p>
    </li>
    <li>
      <img width="32" height="32" title="" alt="" src="images/twitter.png" />
      <p>Twitter</p>
    </li>
    <li>
      <img width="32" height="32" title="" alt="" src="images/instagram.png" />
      <p>Instagram</p>
    </li>
  </ul>
</div>
