.aboutUs__ourLeaders{

  @media(min-width: 992px){
    min-height: 500px;
    -webkit-background-size: cover;
    background-size: cover !important;
    background: url(/images/aboutus_background2.jpg) no-repeat;
  }
}

.aboutUs__grayBar{
  background-color: gray;
  padding: 50px 0 30px 0;
}

.aboutUs__greenX{
  margin-top: -25px;
}

.aboutUs__ownerProfile{
  width: 283px;
  margin: 0 auto;
  margin-bottom: 20px;

  &:hover{
    background-color: #9fda4b;
  }
}
.aboutUs__ownerImages{
  height: 230px;
  width: 283px;

  &--cody{
    background: url(/images/aboutus_cody-bw.jpg) no-repeat white;

    &:hover{
      background: url(/images/aboutus_cody-c.jpg) no-repeat white;
    }
  }
  &--aharon{
    background: url(/images/aboutus_aharon-bw.jpg) no-repeat white;

    &:hover{
      background: url(/images/aboutus_aharon-c.jpg) no-repeat white;
    }
  }
  &--crystal{
    background: url(/images/aboutus_crystal-bw.jpg) no-repeat white;

    &:hover{
      background: url(/images/aboutus_crystal-c.jpg) no-repeat white;
    }
  }
}

.aboutUs__ownerText{
  padding: 10px;
}

.aboutUs__expertStaff{
  margin-bottom: 30px;
}

.aboutUs__expertStaffPicRow{
  text-align: center;
  margin: 0 10%;
}

.aboutUs__expertStaffPic{
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-left: -5px;
  margin-top: -5px;

  &--1{
    background: url("http://placehold.it/200x200/ffffff");

    &:hover{
      background: url("http://placehold.it/200x200/ff0000");
    }
  }

  &--2{
    background: url("http://placehold.it/200x200/000000");

    &:hover{
      background: url("http://placehold.it/200x200/0000ff");
    }
  }

  img{
    display: block;
  }
}

