.carousel .item {
  height: 100%;
}

#myCarousel {
  max-width: 900px;
  margin: 0 15% 30px 15%;
}

#xclusiveCircle {
  position: absolute;
  top: -40px;
  right: 0;
  height: 130%;
  width: 65%;
  background: url(/images/circleX.png) no-repeat;
  z-index: -1;
}
