.contactUs{
  min-height: 1300px;
  background: url(/images/contactus_background.jpg) no-repeat;

}

.contactUs__greenBox{
  background: #9fda4b;
  min-height: 900px;
}

.contactUs__socialBar{
  background-color: gray;
}
