.contactUs{
  min-height: 1300px;
  background: url(/images/contactus_background.jpg) no-repeat;
  background-size: cover;

}

.contactUs__container{
  position: relative;

  @include breakpoint(tablet){
    padding-top: 100px;
  }
}

.contactUs__greenBox{
  background: #9fda4b;
}

.contactUs__andSign{
  font-size: 50px;
  color: gray;
}

.contactUs__downloadMenuContainer{

  @include breakpoint(tablet){
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
  }
}

.contactUs__socialBar{
  background-color: gray;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}

.contactUs__socialText{
  display: inline-block;
  margin-right: 10px;
}

.contactUs__socialImages{
  display: inline-block;

  img{
    margin-right: 5px;
  }
}
