.contactUs{
  min-height: 1300px;
  background: url(/images/contactus_background.jpg) no-repeat;
  background-size: cover;

}

.contactUs__container{
  position: relative;

  @include breakpoint(tablet){
    padding-top: 100px;
  }
}

.contactUs__greenBox{
  background: #9fda4b;
}

.contactUs__andSign{
  font-size: 50px;
  color: gray;
}

.contactUs__downloadMenuContainer{
  text-align: center;
  margin: 2em 0;

  @include breakpoint(tablet){
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-shadow: black 1px 1px 1px;
    text-align: left;
    margin: 0;
  }
}

.contactUs__downloadMenuBlock{

  @include breakpoint(tablet){
    padding-left: 40px;
  }

  img{
    border: black solid 1px;
  }
}

.contactUs__socialBar{
  background-color: gray;
  text-align: center;
  padding: 20px;
  margin-top: 20px;

  @include breakpoint(tablet){
    margin-top: 140px;
  }
}

.contactUs__socialText{
  display: inline-block;
  margin-right: 10px;
}

.contactUs__socialImages{
  display: inline-block;

  img{
    margin-right: 5px;
  }
}

.contactUs__submitForm .form-group{
  padding: 10px;
}

.submitForm__button {
  float: right;
  background: black;
  color: white;
  margin: 10px;
}

.submitForm__phoneRow {
  margin-top: 60px;
  padding: 10px 10px 30px 10px;
}

.submitForm__phoneRowText {
  position: absolute;
  left: 85px;
  bottom: 25px;
}
