.venues {
  height: 600px;
  background-size: cover !important;

  &--airCapital{background: url(/images/air_captial_background.jpg) no-repeat white;}
  &--worldTreasures{background: url(/images/world_treasures_background.jpg) no-repeat white;}
  &--tanganyika{
    background: url(/images/tanganyika_background.jpg) no-repeat white;

    @media(max-width: 768px){
      background-position: -600px 0;
    }
  }
  &--indianCenter{background: url(/images/indian_center_background.jpg) no-repeat white;}
  &--botanica{background: url(/images/botanica_background.jpg) no-repeat white;}
  &--explorationPlace{background: url(/images/exploration_place_background.jpg) no-repeat white;}
  &--boathouse{background: url(/images/boathouse_background.jpg) no-repeat white;}

  &__titleHeader{
    margin-top:215px;
    background-color: white;
    padding: 0 30px;
  }

  &__titleBody{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 30px 20px 30px;
    margin-bottom: 20px;
  }
}
