#wedding {
  background: url(/images/wedding-background.jpg) no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
#wedding .green-box {
  background-color: rgba(156,203,59,0.5);
  margin-left: 5%;
  margin-right: 5%;
}
