<div id="aboutX" class="row">
  <div class="maxWidth">
    <div class="col-xs-12 col-sm-6">
      <h2 class="font-green">About</h2>
      <h1>XCLUSIVE</h1>
      <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="images/Cody-and-Crystal.jpg">
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>No matter the event, make sure you choose the right event company. With the best bartenders in the Midwest, we will guarantee for a fun night of drinks! Xclusive is proud of our outstanding reputation, and would love to have your friendship.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <iframe src="http://snapwidget.com/in/?u=eGV2ZW50c3xpbnwxMjV8NHwyfHxub3w1fGZhZGVPdXR8b25TdGFydHx5ZXN8eWVz&ve=290115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      <a class="font-green" href="http://instagram.com/xevents" target="_blank">Follow us on Instagram</a>
    </div>
  </div>
</div>
