<div id="corp-events" class="row">
  <h2 class="text-center font-green">Corporate Events</h2>
  <p class="col-xs-12 text-center">Xclusive Event Services offers certified bartenders, dining room attendents, event staff and wait staff that’ll cater to your needs. With Xclusive Event Services, you can count on us to add a sense of class to any occasion.</p>
  <div class="col-xs-12 col-sm-6">
    <h3 class="font-green">Bar Options</h3>
    <div><img src="/images/down-arrow.png"></div>
    <p>Our Bar options allow for you to host a worry free event. We’ll provide everything you need to ensure that your party is a complete success. You can request a drink selection from our extensive BAR MENU or provide your own liquor for our Certified Bartenders to serve. </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3 class="font-green">Event Staff</h3>
    <div><img src="/images/down-arrow.png"></div>
    <p>Our event staff is fully capapble of handling your event’s needs. From dinner service to clean up, our team of event specialists will leave a positive impression on your guests. Dining Room attendents will keep your event hall clean and spotless. Our experienced Wait Staff are ready to serve your guests. Server’s Assistant will prep, service and halp manage your event. </p>
    <p>Xclusive Event Services will provide beverage/dish trays, towels. and dish ware when requested. Menu and venue will determine the number of wait staff required for your event. Wait Staff at $20 per hour. </p>
  </div>
</div>
