<div class="footer row">
  <div class="maxWidth">
    <div class="contact-info">
      <div class="col-xs-12 col-sm-6">
        <img src="/images/white-logo.png">
      </div>
      <p>e | info@xclusive.com | 316.285.9227  Wichita, KS 67202</p>
    </div>
  </div>
</div>
