<div class="header row maxWidth">
  <ul class="nav nav-pills pull-right">
    <!-- <li class="active"><a href="#">Home</a></li> -->
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="associates-venues.html">Associates & Venues</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
  </ul>
  <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
</div>
