<div id="weAre" class="row">
  <h2 class="col-xs-12">WE ARE...<span class="pull-right">Serving Wichita & Kansas City Area</span></h2>
  <div class="weAreMain">
    <div class="col-xs-12 col-sm-6">
      <p>Xclusive Event Services is a one-stop for all of your event needs. From hourly bartenders, to full bar setups. Xclusive has you covered. We do everything from wedding receptions to large corporate functions.</p>
      <p>Whether you are hosting a small gathering of twenty people or a bigger party of hundreds, we are there for you with our Xclusive staff.</p>
      <p>Prompt and Reliable<br>
        Unparallel Bar and Wait Staff<br>
        Party & Glass Rentals<br>
        Locally Owned & Operated</p>
      <p>Let Xclusive and our years of Xpertise in the hospitality service industry, take care of you and your next party.</p>
      <h3 class="font-green">Drop us an email! <br><a class="font-green" href="mailto:info@xclusive.com">info@xclusive.com</a></h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img class="img-responsive" src="images/bar-etc.png">
    </div>
  </div>
</div>
