<div id="wedding" class="row">
  <div class="green-box row">
    <h2 class="font-white text-center">Wedding Parties</h2>
    <div class="col-xs-12 col-sm-6">
      <p>Xclusive will take perfect care of your guests. Handling the party from the dinner service to clean up. Let our professional team of event specialists help with your next event. </p>
      <br>
      <p>Check our our PHOTOS of catered weddings. </p>
    </div>
    <div class="col-xs-12 col-sm-6 row">
      <div class="col-sm-6">
        <h3 class="font-white">Event Services:</h3>
        <p>
          Dining Room Attendent<br>
          Wait Staff<br>
          Server’s Assistant<br>
          Bartender
        </p>
      </div>
      <div class="col-sm-6">
        <h3 class="font-white">BAR OPTIONS:</h3>
        <p>
          Capped Bar<br>
          Open Bar<br>
          Host Bar per Person<br>
          Signature Cocktails<br>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-offset-6 col-sm-6">
      <p>Give us a call for pricing or drop us an email: info@xclusive.co</p>
    </div>
  </div>
</div>
