---
layout: master.hbs
page_name: home
---
<div class="aboutUs">
  <div class="row aboutUs__ourLeaders">
    <h2 class="font-white col-xs-12">Our Leaders</h2>
    <div class="col-xs-12 col-md-4">
      <div class="aboutUs__ownerProfile">
        <div class="aboutUs__ownerImages aboutUs__ownerImages--cody"></div>
        <div class="aboutUs__ownerText">
          <p class="text-uppercase"><span class="font--bold">Owner</span><br><span>Cody Lathrop</span></p>
          <p>BIO: Text about Cody goes here...</p>
          <p>CONTACT: cody@xclusive.co</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="aboutUs__ownerProfile">
        <div class="aboutUs__ownerImages aboutUs__ownerImages--aharon"></div>
        <div class="aboutUs__ownerText">
          <p class="text-uppercase"><span class="font--bold">Coordinator</span><br><span>Aharon Hoopes</span></p>
          <p>BIO: Text about Aharon goes here...</p>
          <p>CONTACT: aharon@xclusive.co</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="aboutUs__ownerProfile">
        <div class="aboutUs__ownerImages aboutUs__ownerImages--crystal"></div>
        <div class="aboutUs__ownerText">
          <p class="text-uppercase"><span class="font--bold">Owner</span><br><span>Crystal McDonald</span></p>
          <p>BIO: Text about Crystal goes here...</p>
          <p>CONTACT: crystal@xclusive.co</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row aboutUs__grayBar">Xclusive in an all inclusive event services company. Started by brother and sister, Cody and Crystal, from the ground. Xclusive takes ordinary event services and makes them extrodinary. Our expert staff will take your next event to the next level.</div>
  <div class="row aboutUs_expertStaff">
    <h3 class="text-uppercase font-green">Expert Staff</h3>
  </div>
</div>

