---
layout: master.hbs
page_name: home
---
<div class="row venues venues--airCapital">
  <div class="col-xs-12 col-md-6 col-md-offset-6">
    <div class="venues__titleHeader">
      <h2 class="font-green">Air Capital Classic</h2>
    </div>
    <div class="venues__titleBody">
      <h3 class="font-white">SINCE 2006</h3>
      <p>Each year, the event generates $4.5 million in economic impact. It is the mission of the Air Capital Classic to significantly impact the economy, quality of life and charitable organizations in the City of Wichita, Sedgwick County and the State of Kansas by hosting a Professional Golf Association (PGA TOUR) tournament and related events.
        </p>
    </div>
  </div>
</div>
{{>divider}}
<div class="row venues venues--worldTreasures"></div>
{{>divider}}
<div class="row venues venues--tanganyika"></div>
{{>divider}}
<div class="row venues venues--indianCenter"></div>
{{>divider}}
<div class="row venues venues--botanica"></div>
{{>divider}}
<div class="row venues venues--explorationPlace"></div>
{{>divider}}
<div class="row venues venues--boathouse"></div>
{{>divider}}
