---
layout: master.hbs
page_name: home
---
<h1 class="text--center font-green">Check out our Associates and Venues</h1>
<a href="http://wichitaboathouse.org/" target="_blank">
  <div class="row venues venues--boathouse">
    <div class="col-xs-12 col-md-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Wichita Boat House</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">A Venue like No Other</h3>
        <p>The Wichita Boathouse is situated in the heart of the city with dramatic views of the Arkansas River and downtown Wichita. Originally built in the 1920s, the building has an elaborate grand staircase, beautiful hardwood floors and a gorgeous veranda. This unique venue is the ideal place to hold any gathering and will transform your party into an event to remember.</p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
<a href="http://www.aircapclassic.com/" target="_blank">
  <div class="row venues venues--airCapital">
    <div class="col-xs-12 col-md-6 col-md-offset-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Air Capital Classic</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">Since 2006</h3>
        <p>Each year, the event generates $4.5 million in economic impact. It is the mission of the Air Capital Classic to significantly impact the economy, quality of life and charitable organizations in the City of Wichita, Sedgwick County and the State of Kansas by hosting a Professional Golf Association (PGA TOUR) tournament and related events</p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
<a href="http://www.worldtreasures.org/" target="_blank">
  <div class="row venues venues--worldTreasures">
    <div class="col-xs-12 col-md-6 col-md-offset-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Museum of World Treasures</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">old town</h3>
        <p>The Museum of World Treasures is located in Old Town, the most popular Wichita neighborhood. The Museum is surrounded by high-quality hotels and nightlife so that your guests can stay close by or keep the party going after your event. </p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
<!--<a href="http://www.tanganyikawildlife.org/" target="_blank">-->
  <!--<div class="row venues venues--tanganyika">-->
    <!--<div class="col-xs-12 col-md-6">-->
      <!--<div class="venues__titleHeader">-->
        <!--<h2 class="font-green text-uppercase">Tanganyika Wildlife Park</h2>-->
      <!--</div>-->
      <!--<div class="venues__titleBody">-->
        <!--<h3 class="font-white text-uppercase">4 rooms to choose from</h3>-->
        <!--<p>From formal weddings and receptions to event planning and birthday parties, Tanganyika Wildlife Park is a great Wichita destination for your next big event.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</a>-->
<!--{{>divider}}-->
<a href="http://www.theindiancenter.org/Pages/default.aspx" target="_blank">
  <div class="row venues venues--indianCenter">
    <div class="col-xs-12 col-md-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Mid-america indian center</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">Downtown Wichita</h3>
        <p>We offer a unique facility, overlooking the Arkansas River. The spacious Gallery of Nations level has a spectacular view of the Keeper of the Plains and the surrounding downtown area.</p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
<a href="http://www.botanica.org/" target="_blank">
  <div class="row venues venues--botanica">
    <div class="col-xs-12 col-md-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Botanica Gardens</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">Perfect Backdrop</h3>
        <p>Botanica gardens are the perfect backdrop for any occasion. From weddings to receptions, anniversaries and family celebrations, to corporate meetings, lectures and presentations. Whether indoors or out, large or small parties, Botanica can accommodate most any event.</p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
<a href="http://exploration.org/" target="_blank">
  <div class="row venues venues--explorationPlace">
    <div class="col-xs-12 col-md-6">
      <div class="venues__titleHeader">
        <h2 class="font-green text-uppercase">Exploration Place</h2>
      </div>
      <div class="venues__titleBody">
        <h3 class="font-white text-uppercase">Sedgwick County Science and Discovery Center</h3>
          <p>Choose Exploration Place for your next wedding, reception, holiday party, reunion or even an outdoor company picnic!</p>
      </div>
    </div>
  </div>
</a>
{{>divider}}
