---
layout: master.hbs
page_name: home
---
<div class="contactUs row">
  <div class="contactUs__container col-xs-12">
    <div class="contactUs__greenBox col-xs-12 col-sm-offset-1 col-sm-4">
      <div class="text-uppercase">Contact Us <span class="contactUs__andSign">&</span></div>
      <div>Let us pour your next drink!</div>
      <div>Serving Wichita and Kansas areas</div>
      <form class="contactUs__submitForm js-submitContactForm" action="/contact">
        <div class="form-group">
          <label for="submitForm__name">Name</label>
          <input type="text" class="form-control" id="submitForm__name" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="submitForm__company">Company</label>
          <input type="text" class="form-control" id="submitForm__company" placeholder="Enter Company">
        </div>
        <div class="form-group">
          <label for="submitForm__phone">Phone</label>
          <input type="text" class="form-control" id="submitForm__phone" placeholder="Enter Phone">
        </div>
        <div class="form-group">
          <label for="submitForm__email">Email address</label>
          <input type="email" class="form-control" id="submitForm__email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <p class="help-block">
            Briefly describe :<br>
            - What type of services are you looking for?<br>
            - What is the setting?<br>
            - How did you hear about Xclusive?<br>
          </p>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="submitForm__notes"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <img src="/images/telephone.png">
      <div>Need more info? No problem!</div>
      <div>Give us a call at 316.555.5555</div>
    </div>
    <div class="contactUs__downloadMenuContainer col-xs-12 col-sm-7">
      <div>Our Menu<span>Download it...</span></div>
      <img src="/images/menu-preview.png">
    </div>
  </div>
  <div class="contactUs__socialBar col-xs-12">
      <p class="contactUs__socialText">Connect with us for the latest photos, events, and decor!</p>
      <div class="contactUs__socialImages">
        <a href="https://instagram.com/xevents/" target="_blank"><img src="/images/instagram.png"></a>
        <a href="https://www.facebook.com/xclusiveservice" target="_blank"><img src="/images/facebook.png"></a>
        <a href="https://twitter.com/xevents" target="_blank"><img src="/images/twitter.png"></a>
      </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $(".js-submitContactForm").submit(function(event) {
      event.preventDefault();

      var options = {};

      // Get some values from elements on the page:
      var $form = $(this);
      var fields = $form.find("input, textarea");

      $.each(fields, function(i, field){
        var prop = field.id.split("submitForm__")[1];
        options[prop] = $(field).val();
      });

      var posting = $.post('/contact-us', options);

      posting.done(function(data) {
        document.write('congrats, you posted. success/failure state TBD');
        console.log('You posted succesfully. ', data);
      });
    });
  });
</script>

