---
layout: master.hbs
page_name: home
---
<div class="contactUs row">
  <div class="contactUs__greenBox col-xs-12 col-sm-offset-1 col-sm-4"></div>
  <div class="contactUs__socialBar col-xs-12">
    <p>Connect with us for the latest photos, events, and decor!</p>
  </div>
</div>
